name: CI-version

on:
  push:
    tags:
      - "v*"

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        toolchain:
          - stable
          - nightly
    name: Test ${{ matrix.toolchain }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install libwebp (Linux)
        run: |
          sudo apt update
          sudo apt install libwebp-dev
        if: runner.os == 'Linux'
      - name: Install libwebp (macOS)
        run: |
          brew update
          brew list webp || brew install webp
        if: runner.os == 'macOS'
      - name: Install ImageMagick
        run: |
          wget http://www.imagemagick.org/download/ImageMagick.tar.gz
          tar xf ImageMagick.tar.gz
          cd ImageMagick-*
          ./configure --enable-hdri --with-webp
          make
          sudo make install
      - run: sudo ldconfig
        if: runner.os == 'Linux'
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true
      - run: cargo build --release
      - run: cargo test --release
      - run: cargo doc --release